<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FactorySettings" type="PizzaFactory.Helpers.FactoryConfigSection, PizzaFactory" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <FactorySettings>
    <GeneralSettings CookingTimeBase="3000" NumTargetPizzas="10" MaxNumTops="3">
    </GeneralSettings>
    <PizzaBaseCollection>
      <Base Name="DeepPan" Description="Deep Pan" CookingTimeMultiplier="2" Price="8.5" />
      <Base Name="StuffedCrust" Description="Stuffed Crust" CookingTimeMultiplier="1.5" Price="7.5" />
      <Base Name="ThinAndCrispy" Description="Thin and Crispy" CookingTimeMultiplier="1" Price="9.5" />
    </PizzaBaseCollection>
    <PizzaTopCollection>
      <Top Name="HamAndMushrooms" Description="Ham and Mushrooms" CookingTime="100" Price="1.5" />
      <Top Name="Peperoni" Description="Pepperoni" CookingTime="120" Price="1.5" />
      <Top Name="Vegetable" Description="Vegetable" CookingTime="130" Price="1.5" />
    </PizzaTopCollection>
  </FactorySettings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>